.toggleButton {
	position: relative;
	border-radius: 8px;
	padding: 3px;
	display: inline-grid;
    font-size: 14px;
}

.buttonGroup {
	display: inline-grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	grid-gap: 4px;
}

@mixin button {
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    text-align: center;
}

.toggleButtonItem {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: transparent;
    @include button();
}

button {
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    background-color: transparent;
    max-width: 110px;
}
