.climateTableRow {
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: space-between;
    gap: 10px
}

.statiticCardSection {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.climateChartSection {
    width: calc(100% - 350px);
    height: 100%;
}