$colors: (
    "primary-text": #343B4F,
    "white": #FFFFFF,
    "gray": #858D9D,
    "gray-light": #667085,
    "gray-lighter": #D8D8D8,
    "gray-stroke": #0000007F,
    "gray-stroke-light": #00000066,
    "blue": #3381F6,
    "blue-light": #4F80E1,
    "blue-lighter": #5C85FE3F,
    "blue-chart-line": #0240BCBF,
    "red": #ED0423,
    "red-light": #FDA3A34C,
    "red-chart-line": #F10000BF,
    "green": #008951,
    "green-lighter": #18CDCA26,

    // Pivot
    "pvt-primary-text": #343326,
    "pvt-primary-aqua": #5bc4bf,
    "pvt-primary-orange": #f26233,
    "pvt-primary-green-apple": #a1c54e,
    "pvt-primary-green-dark": #39ad57,
    "pvt-primary-brown": #62543f,
    "pvt-light-beige": #eae1c7,
    "pvt-light-aqua": #b8e2e0,
    "pvt-light-green-apple": #d4e4b3,
    "pvt-light-orange": #ffdbc7,
);

$cardWidth: 300px;
$cardHeight: 120px;
$headerHeight: 80px;
$navigationWidth: 250px;