// color variables used throughout the application
// These variables are used in the stylesheets to maintain consistency
// and to make it easier to change the color scheme in the future.
// Variables

$colors: (
    'primary-text': #343b4f,
    'white': #ffffff,
    'gray': #858d9d,
    'gray-light': #667085,
    'gray-lighter': #d8d8d8,
    'gray-stroke': #0000007f,
    'gray-stroke-light': #00000066,
    'blue': #3381f6,
    'blue-light': #4f80e1,
    'blue-lighter': #5c85fe3f,
    'blue-chart-line': #0240bcbf,
    'red': #ed0423,
    'red-light': #fda3a34c,
    'red-chart-line': #f10000bf,
    'green': #008951,
    'green-lighter': #18cdca26,

    // Pivot
    'pvt-primary-text': #343326,
    'pvt-primary-aqua': #5bc4bf,
    'pvt-primary-orange': #f26233,
    'pvt-primary-green-apple': #a1c54e,
    'pvt-primary-green-dark': #39ad57,
    'pvt-primary-brown': #62543f,
    'pvt-light-beige': #eae1c7,
    'pvt-light-aqua': #b8e2e0,
    'pvt-light-green-apple': #d4e4b3,
    'pvt-light-orange': #ffdbc7,
);

// screen min-width breakpoints
// These breakpoints are used in the media queries in the stylesheets
// and are based on the common device widths.
$breakpoints: (
  small: 600px,
  medium: 900px,
  large: 1200px,
);
