.singleCard {
    flex-basis: 25%;
}

.title {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    font-weight: 600;
}

.filterSection {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: calc(100% - 1rem);
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 1rem;
}

.visualization {
    height: 550px;
    max-height: 600px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    position: relative;
}

.chartSection {
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
}

.mapContainer {
    width: calc(40% - 5px);
}

.lineChartContainer {
    width: calc(60% - 5px);
    position: relative;
    height: 500px;
}

.lineChart {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.lineChartLegends {
    width: 100%;
    
}

.chartSection {}

.dataTableSection {}

.dataTableHeaderSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dataTableHeader {   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dataTableFilters {
    height: 48px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}

.headerNav {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-image: linear-gradient(white, white, white, white, transparent);
    padding-top: 4px; 
    padding-bottom: 20px;
}
