.statisticsSection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 1rem;
    margin-top: 90px;
}

.singleCard {
    flex-basis: 25%;
}

.filterSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 1rem;
}

.visualization {
    height: 700px;
    max-height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}

.chartSection {
    width: calc(100% - 60px);
    display: flex;
}

.mapContainer {
    width: 33.33333%;
    // background-color: brown;
}

.lineChartContainer {
    width: 66.66666%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    // background-color: blueviolet;
}

.lineChart {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.lineChartLegends {
    width: 100%;
    
}

.chartSection {}

.dataTableSection {}

.dataTableHeaderSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dataTableHeader {
    // width: calc(100% - 80px);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dataTableFilters {
    // width: 30%;
    height: 48px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}


// CLIMATE

.climateContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

.climateHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.multiSelectContainer {
    width: 350px;
}

.buttonsContainer {
    width: calc(100% - 400px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // padding-bottom: 1rem;
    height: 48px;
}

.climateContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    // height: 70px;
}

.climateTableRow {
    display: flex;
    flex-direction: row;
    height: 300px;
}

.statiticCardSection {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.climateChartSection {
    width: calc(100% - 800px);
    height: 100%;
}

.headerNav {
    position: fixed;
    z-index: 99999;
    width: 100%;
    background-image: linear-gradient(white, white, white, white, transparent);
    padding-top: 24px; 
}
