.inputContainer {
    display: flex;
    align-items: center;
    width: 30%;
    height: 48px;
    border: none;
    box-shadow: none;
}

.municipalityIndex {
    color: var(--color-gray-light);
    font-size: small;
    padding-left: 15px;
}