.card {
    border-radius: 0.5em;
    width: 100%;
    // background-color: var(--color-blue-lighter);
    padding: 16px;
    text-align: start;
}

.header {
    font-weight: 400;
    font-size: 1em;
}

.mainContent {
    font-weight: 500;
    font-size: 3em;
}

.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
}

.comparisonData {
    min-width: 15%;
    // color: var(--color-red);
    font-weight: 800;
    padding-right: 15px;
}

.comparisonDescription {
    width: 70%;
}