@import '../../styles/mixin';

.card {
    border-radius: 0.5em;
    width: 100%;
    padding: 10px;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.header {
    font-weight: 400;
    font-size: 1em;
}

.mainContent {
    font-size: 2rem;
    @include respond(large) {
        font-size: 3em;
    }
}

.footer {
    width: 100%;
    display: flex;
    font-size: 10px;
    align-items: center;
}

.comparisonData {
    width: auto;
    font-weight: 800;
    padding-right: 10px;
    display: flex;
    white-space: nowrap; 
    flex-shrink: 0;
}

.comparisonDescription {
    width: auto;
    flex: 1;
}

.overlay {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-size: 1rem; 
    z-index: 700; 
    cursor: not-allowed;
    text-align: center;
}