.card {
    border-radius: 0.5em;
    width: 100%;
    padding: 16px;
    position: relative;
    overflow: hidden;
}

.header {
    font-weight: 400;
    font-size: 1em;
}

.mainContent {
    font-size: 3em;
}

.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
}

.comparisonData {
    min-width: 15%;
    font-weight: 800;
    padding-right: 15px;
}

.comparisonDescription {
    width: 70%;
}

.overlay {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-size: 1rem; 
    z-index: 9999; 
    cursor: not-allowed;
    text-align: center;
}