.statisticsSection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 1rem;
    padding-bottom: 1rem;
}

.singleCard {
    flex-basis: 25%;
}

.filterSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 48px;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 1rem;
    // justify-content: space-between;
    // width: calc(100vw - 750px);
}

.chartSection {}

.dataTableSection {}

.dataTableHeaderSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dataTableHeader {
    width: calc(100% - 80px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dataTableFilters {
    // width: 30%;
    height: 48px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
}