@import '../abstracts/variables';

@mixin generate-rounded-utilities($sizes, $sides) {
    @each $size, $value in $sizes {
        .br-#{$size} {
            border-radius: $value;
        }
        
        @each $side, $direction in $sides {
            $directions: if(type-of($direction) == map, $direction, null);
            
            @if $directions {
                @each $subside, $subdirection in $directions {
                    $prefix-class: if($side == "s" or $side == "e", "-#{$side}-", "");
                    .br#{$prefix-class}#{$subside}-#{$size} {
                        @if $side == "s" or $side == "e" {
                            border-#{$subdirection}-radius: $value;
                        } @else {
                            border-#{$subside}-radius: $value;
                        }
                    }
                }
            } @else {
                $prefix-class: if($side == "s" or $side == "e", "-#{$side}-", "");
                .br#{$prefix-class}#{$direction}-#{$size} {
                    @if $side == "s" or $side == "e" {
                        border-#{$direction}-radius: $value;
                    } @else {
                        border-#{$direction}-radius: $value;
                    }
                }
            }
        }
    }
}

// Border radius utilities
@include generate-rounded-utilities($roundedSizes, $roundedSides);

@mixin generate-border-width-utilities($sizes, $sides) {
    @each $size, $value in $sizes {
        $class-name: if($size == "default", "", "-#{$size}");
        .bw#{$class-name} {
            border-width: $value;
        }
        
        @each $prefix, $directions in $sides {
            @if type-of($directions) == map {
                @each $side, $direction in $directions {
                    $prefix-class: if($prefix == "x" or $prefix == "y", "-#{$prefix}-", "");
                    .bw#{$prefix-class}#{$side}#{$class-name} {
                        border-#{$direction}-width: $value;
                    }
                }
            } @else {
                $prefix-class: if($prefix == "x" or $prefix == "y", "-#{$prefix}-", "");
                .bw#{$prefix-class}#{$directions}#{$class-name} {
                    border-#{$directions}-width: $value;
                }
            }
        }
    }
}

// Border width utilities
@include generate-border-width-utilities($borderWidthValues, $borderSides);