// Display 

.d-hidden { display: none; }
.d-block { display: block; }
.d-inline-block { display: inline-block; }
.d-inline { display: inline; }
.d-flex { display: flex; }
.d-inline-flex { display: inline-flex; }

// Flex direction 

.flx-d-row { flex-direction: row; }
.flx-d-row-reverse { flex-direction: row-reverse; }
.flx-d-col { flex-direction: column; }
.flx-d-col-reverse { flex-direction: column-reverse; }

// Flex wrap 

.flx-wrap { flex-wrap: wrap; }
.flx-wrap-reverse { flex-wrap: wrap-reverse; }
.flx-no-wrap { flex-wrap: nowrap; }

// Justify content

.jc-start { justify-content: flex-start; }
.jc-end { justify-content: flex-end; }
.jc-center { justify-content: center; }
.jc-between { justify-content: space-between; }
.jc-around { justify-content: space-around; }
.jc-evenly { justify-content: space-evenly; }

// Align items

.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }
.items-center { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch { align-items: stretch; }

// Align Content 

.content-start { align-content: flex-start; }
.content-end { align-content: flex-end; }
.content-center { align-content: center; }
.content-between { align-content: space-between; }
.content-around { align-content: space-around; }
.content-stretch { align-content: stretch; }

// Align self

.self-auto { align-self: auto; }
.self-start { align-self: flex-start; }
.self-end { align-self: flex-end; }
.self-center { align-self: center; }
.self-stretch { align-self: stretch; }

// Grid container

.grid { display: grid; }
.inline-grid { display: inline-grid; }


// Grid columns & rows

@mixin generate-grid-template-utilities($property, $type) {
    @for $i from 1 through 12 {
        .grid-#{$type}-#{$i} {
            grid-template-#{$property}: repeat(#{$i}, minmax(0, 1fr));
        }
    }
}

@include generate-grid-template-utilities("columns", "cols");
@include generate-grid-template-utilities("rows", "rows");

@mixin generate-grid-span-utilities($type, $class-prefix) {
    @for $i from 1 through 12 {
        .#{$class-prefix}-span-#{$i} {
            grid-#{$type}: span #{$i} / span #{$i};
        }
    }
}

@include generate-grid-row-span-utilities("column", "col");
@include generate-grid-row-span-utilities("row", "row");

.col-auto { grid-column: auto; }
.row-auto { grid-row: auto; }

@mixin generate-grid-oriented-utilities($type, $orientation, $class-prefix) {
    @for $i from 1 through 12 {
        .#{$class-prefix}-#{$orientation}-#{$i} {
            grid-#{$type}-#{$orientation}: #{$i};
        }
    }
}

@include generate-grid-oriented-utilities("column", "start", "col");
@include generate-grid-oriented-utilities("column", "end", "col");

@include generate-grid-oriented-utilities("row", "start", "row");
@include generate-grid-oriented-utilities("row", "end", "row");

// Gap 

@mixin generate-gap-classes($sizes, $sides) {
    @each $size in $sizes {
        $px_value: $size * 2px;
        $rem_value: $size * 0.125rem;
        $class_suffix: if($size == 0, "", -#{$size});
        
        .gap#{$class_suffix} {
            gap: $rem_value;
        }
        
        .gap-x#{$class_suffix} {
            column-gap: $rem_value;
        }
        
        .gap-y#{$class_suffix} {
            row-gap: $rem_value;
        }
        
        @each $side, $directions in $sides {
            @each $direction, $property in $directions {
                .gap-#{$side}#{$class_suffix} {
                    #{$property}: $rem_value;
                }
            }
        }
        
        .gap-px#{$class_suffix} {
            gap: $px_value;
        }
        
        .gap-x-px#{$class_suffix} {
            column-gap: $px_value;
        }
        
        .gap-y-px#{$class_suffix} {
            row-gap: $px_value;
        }
    }
}

@include generate-gap-classes($sizes, $sides);

